@import '../constants/sass_variables';

.tvSeriesListItem {
  display: flex;
  position: relative;
  padding: 20px;

  + .tvSeriesListItem {
    border-top: 1px solid $light-border;
  }

  .indexWrapper {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border-radius: 50%;
    background: $accent-color;
    width: 30px;
    height: 30px;
    color: $white;
  }

  .poster,
  .posterPlaceholder {
    margin-right: 20px;
    width: 100px;
  }

  .poster {
    height: auto;
  }

  .posterPlaceholder {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $accent-color;
    height: 150px;
    color: $white;
  }

  .rateBarWrapper {
    position: absolute;
    top: 20px;
    right: 20px;

    .label,
    .percentage {
      color: $accent-hover;
      font-size: 11px;
    }

    .percentage {
      margin-left: 2px;
      font-weight: bold;
    }

    .rateBar {
      display: block;
      border-radius: 5px;
      background: $dark-text;
      width: 100px;
      height: 10px;
      overflow: hidden;
    }

    .filling {
      background: $accent-color;
      height: 10px;
    }
  }

  .unstarred,
  .starred {
    margin-left: 3px;
    outline: 0;
    border: 0;
    background: 0;
    cursor: pointer;
    padding: 0;
    font-size: 16px;

    .star {
      pointer-events: none;
    }
  }

  .unstarred {
    opacity: .4;

    &:hover {
      opacity: 1;
    }
  }

  .originalName {
    margin-left: 3px;
    color: $light-text;
    font-style: italic;
  }

  .seriesInfoWrapper {
    width: 100%;
  }

  .seriesNameWrapper {
    margin-bottom: 10px;
    max-width: calc(100% - 120px);

    .index {
      display: none;
      margin-right: 5px;
      color: $dark-text;
      font-size: 20px;
      font-weight: bold;
    }
  }

  .seriesName {
    color: $dark-text;
    font-size: 16px;
    font-weight: 500;
  }

  .seriesDescription {
    margin-bottom: 5px;
    font-size: 13px;
  }

  .seriesPopularity {
    margin-bottom: 5px;
    font-size: 14px;

    .label {
      color: $light-text;
      font-weight: 500;
    }

    .number {
      margin-left: 3px;
    }
  }

  .expandSeriesCell {
    outline: 0;
    border: 0;
    background: 0;
    cursor: pointer;
    padding: 0;
    color: $accent-hover;
    font-size: 14px;
  }
}

@media only screen and (max-width: 610px) {
  .tvSeriesListItem {
    .indexWrapper {
      display: none;
    }

    .seriesNameWrapper {
      .index {
        display: inline;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .tvSeriesListItem {
    flex-wrap: wrap;

    .posterWrapper {
      margin-bottom: 10px;
    }
  }
}
